* {
  box-sizing: border-box;
}

$mainColor: #ffffff;
$btnColor: #38aef0;


.wrapper{
  width: 100vw;
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;

  &__side-header{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;

    &--box{
      width: 260px;
      height: 20px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      line-height: 20px;

      &__name{
        color:$mainColor;
        font-size: 16px;
      }
      
      .menu{
        display: flex;
        
        a{
          text-decoration: none;
          color: $mainColor;
        }
        
        &__list{
          margin-right: 5px;
        }
      } 
    }
  }
  
  &__group{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    
    &--box{
      padding: 20px;
      
      &--name{
      font-size: 15px;
      text-decoration: none;
      }
      
      &--text{
        font-size: 11px;
        margin-top:5px;
        margin-bottom: 40px;
      }
      a{
        text-decoration: none;
        color: $mainColor;
      }
    }
    
  }
}

.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $mainColor;

  &__main-header{
    height: 100px;
    background-color: $mainColor;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    
    &--left-box{
      margin: 35px 0 0 40px;
    
      .group-mane{
      color: #333333;
      font-size: 20px;
      }
      
      .members{
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        display: flex;
      }
    
        .members li{
        margin-left: 5px;
        list-style: none;
        }
    }
    
    .edit-btn{
      height: 40px;
      width: 72px;
      color: $btnColor;
      font-size: 16px;
      border: solid 1px;
      padding: 0 20px;
      margin: 28px 40px;
      line-height: 40px;
      text-decoration: none;
    }
  }
  
  &__message{
    height: calc(100vh - 190px);
    background-color: #fafafa;

    &-box{
      padding: 40px 46px;

      &-name{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        display: flex;
      }
        
      &-date{
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
        font-weight: lighter;
        }
      
      &-text{
        color: #434a54;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 46px;
        font-weight: lighter;
      } 
    }
  }
  
  .form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    form{
      display: flex;
      
      .input-box{
        width: 100%;
        display: flex;
        position: relative;
    
        &__text{
        height: 50px;
        width: 100%;
        border-style: none;
        padding: 0 10px;
        }
        
        &__image{
          position: absolute;
          right: 10px;
          line-height: 50px;
          font-size: 1.5rem;
          &-file{
            display: none;
          }
        }
      }
      
      .submit{
        height: 50px;
        border: 1px solid $btnColor;
        color: $mainColor;
        background-color: $btnColor;
        text-decoration: none;
        line-height: 50px;
        padding: 0 20px;
        font-size: 16px;
        width: 100px;
        margin-left: 15px;
      }
    }
  }
}